In [3]:

import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
df_burglaries = pd.read_csv(r'C:\Users\20202719\Documents\TUE\Y2 DS\Q4\Data challenge 2\DataChallenge2\DC2Data\full_data.csv')

df_burglaries.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Crime ID,Month_x,Reported by_x,Falls within_x,Longitude_x,Latitude_x,...,Median 2003/04,Median 2004/05,Median 2005/06,Median 2006/07,Median 2007/08,Median 2008/09,Median 2009/10,Median 2010/11,Median 2011/12,Median 2012/13
0,0,0,0,0,5f2b26f18d91b49f16f23dc1a23277df19013f29ad0966...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.201642,51.654545,...,"£31,370","£33,250","£33,340","£35,280","£36,310","£37,430","£39,040","£40,060","£41,970","£42,720"
1,1,1,1,1,b1970cadf1adc34a588989067dd9911de0db408608b4d5...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.176710,51.649701,...,"£29,310","£30,880","£30,780","£32,420","£33,230","£34,140","£35,500","£36,340","£38,000","£38,610"
2,2,2,2,2,5ec60496426f4134d6aff206bc04936fea792a6ac49a61...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.212993,51.648226,...,"£26,870","£28,410","£28,430","£30,050","£30,900","£31,850","£33,210","£34,090","£35,740","£36,400"
3,3,3,3,3,776515f51dd5ddb1cde50d464979c17df121b8f32239eb...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.209312,51.643341,...,"£26,870","£28,410","£28,430","£30,050","£30,900","£31,850","£33,210","£34,090","£35,740","£36,400"
4,4,4,4,4,1164a96f9d4b1be9030577b6cdcfc3a6c7cf66e1b2fa1d...,2021-02,Metropolitan Police Service,Metropolitan Police Service,-0.210122,51.642571,...,"£24,910","£26,390","£26,460","£28,030","£28,890","£29,830","£31,180","£32,070","£33,690","£34,380"

In [15]:
df_burglaries['Month of crime'] = df_burglaries['Month_x'].str[5:7]
df_burglaries['Year of crime'] = df_burglaries['Month_x'].str[:4]

df_burglaries['Number of burglaries'] = 1



f = {
    'Mid-year Population Estimates;All Ages;2013' : 'mean',
    'Mid-year Population Estimates;Aged 0-15;2013' : 'mean',
    'Mid-year Population Estimates;Aged 16-29;2013' : 'mean',
    'Mid-year Population Estimates;Aged 30-44;2013' :'mean',
    'Mid-year Population Estimates;Aged 45-64;2013' : 'mean',
    'Mid-year Population Estimates;Aged 65+;2013' : 'mean',
    'Population Density;Persons per hectare;2013' : 'mean',
    'Ethnic Group;White;2011' : 'mean',
    'Ethnic Group;Mixed/multiple ethnic groups;2011' : 'mean',
    'Ethnic Group;Asian/Asian British;2011' : 'mean',
    'Ethnic Group;Black/African/Caribbean/Black British;2011' : 'mean',
    'Ethnic Group;Other ethnic group;2011' : 'mean',
    'Number of burglaries' : 'sum',
    'Household Income, 2011/12;Median Annual Household Income estimate (£)' : 'mean'

}


df_burglaries_grouped = df_burglaries.groupby(['LSOA code_x', 'Year of crime']).agg(f)
df_burglaries_grouped = df_burglaries_grouped.reset_index()


df_burglaries_grouped['LSOA code reg'] = df_burglaries_grouped['LSOA code_x'].str[1:]

key_list = []
for key,value in f.items():
    key_list.append(key)


covid_mask = (df_burglaries_grouped['Year of crime'] != '2020') & (df_burglaries_grouped['Year of crime'] != '2021') & (df_burglaries_grouped['Year of crime'] != '2022')
df_burglaries_woCovid_grouped = df_burglaries_grouped[covid_mask]

df_burglaries_woCovid_grouped.head()

,LSOA code_x,Year of crime,Mid-year Population Estimates;All Ages;2013,Mid-year Population Estimates;Aged 0-15;2013,Mid-year Population Estimates;Aged 16-29;2013,Mid-year Population Estimates;Aged 30-44;2013,Mid-year Population Estimates;Aged 45-64;2013,Mid-year Population Estimates;Aged 65+;2013,Population Density;Persons per hectare;2013,Ethnic Group;White;2011,Ethnic Group;Mixed/multiple ethnic groups;2011,Ethnic Group;Asian/Asian British;2011,Ethnic Group;Black/African/Caribbean/Black British;2011,Ethnic Group;Other ethnic group;2011,Number of burglaries,"Household Income, 2011/12;Median Annual Household Income estimate (£)",LSOA code reg
0,E01000115,2011,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,8,45902.0,01000115
1,E01000115,2012,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,26,45902.0,01000115
2,E01000115,2013,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,15,45902.0,01000115
3,E01000115,2014,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,10,45902.0,01000115
4,E01000115,2015,1471.0,261.0,250.0,226.0,443.0,291.0,54.0,1039.0,32.0,287.0,49.0,77.0,11,45902.0,01000115

In [16]:
#Training the model
regr = LinearRegression()

X = df_burglaries_woCovid_grouped[['LSOA code reg',
 'Mid-year Population Estimates;All Ages;2013',
 'Mid-year Population Estimates;Aged 0-15;2013',
 'Mid-year Population Estimates;Aged 16-29;2013',
 'Mid-year Population Estimates;Aged 30-44;2013',
 'Mid-year Population Estimates;Aged 45-64;2013',
 'Population Density;Persons per hectare;2013',
 'Ethnic Group;White;2011',
 'Ethnic Group;Mixed/multiple ethnic groups;2011',
 'Ethnic Group;Asian/Asian British;2011',
 'Ethnic Group;Black/African/Caribbean/Black British;2011',
 'Household Income, 2011/12;Median Annual Household Income estimate (£)',
 'Year of crime'
 ]]
y = df_burglaries_woCovid_grouped['Number of burglaries']




X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)

#regr.fit(X_train,y_train)

#Y_hat = regr.predict(X_test)

#print(regr.intercept_, regr.coef_, regr.score(X_test, y_test))

In [13]:
#Random forest model imports
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [17]:
#Random forest model
model = RandomForestClassifier()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.0752212389380531

In [18]:
#Do not run more than once!!!!!!
Y_hat = model.predict(X_test)

forest_data = pd.DataFrame(X_test)

#forest_data['Number of burglaries'] = Y_hat


r2 = r2_score(y_test, Y_hat)

In [19]:
r2

0.17186691215494587

In [20]:
rmse = mean_squared_error(y_test, Y_hat)
rmse

118.77876106194691

In [27]:
forest_data.head(10)

,LSOA code reg,Mid-year Population Estimates;All Ages;2013,Mid-year Population Estimates;Aged 0-15;2013,Mid-year Population Estimates;Aged 16-29;2013,Mid-year Population Estimates;Aged 30-44;2013,Mid-year Population Estimates;Aged 45-64;2013,Population Density;Persons per hectare;2013,Ethnic Group;White;2011,Ethnic Group;Mixed/multiple ethnic groups;2011,Ethnic Group;Asian/Asian British;2011,Ethnic Group;Black/African/Caribbean/Black British;2011,"Household Income, 2011/12;Median Annual Household Income estimate (£)",Year of crime,Number of burglaries
1594,01000232,1911.0,399.0,287.0,410.0,476.0,64.0,1080.0,70.0,466.0,167.0,36919.0,2012,18
2881,01033573,2064.0,288.0,1006.0,555.0,178.0,147.0,671.0,112.0,430.0,290.0,28731.0,2013,11
2066,01000266,1502.0,279.0,244.0,240.0,448.0,23.0,1194.0,41.0,198.0,42.0,50591.0,2018,31
1804,01000247,1701.0,322.0,277.0,398.0,498.0,64.0,1376.0,74.0,131.0,57.0,38140.0,2017,11
2714,01000314,1909.0,331.0,483.0,512.0,359.0,76.0,909.0,73.0,682.0,126.0,37200.0,2012,49
1725,01000241,1800.0,344.0,392.0,428.0,399.0,53.0,1192.0,61.0,273.0,82.0,38632.0,2017,10
1751,01000243,1912.0,302.0,555.0,491.0,299.0,104.0,1292.0,67.0,375.0,68.0,29882.0,2017,19
1913,01000255,1473.0,298.0,270.0,258.0,387.0,14.0,941.0,74.0,263.0,149.0,31377.0,2017,17
478,01000151,1772.0,590.0,339.0,449.0,303.0,125.0,538.0,156.0,267.0,612.0,19596.0,2014,35
871,01000179,1625.0,280.0,264.0,611.0,328.0,113.0,1236.0,88.0,180.0,78.0,40376.0,2019,8

In [31]:
covid_adjusted = pd.read_csv(r'C:\Users\20202719\Documents\TUE\Y2 DS\Q4\Data challenge 2\DataChallenge2\DC2Data\lsoa_crime_covid_adjusted_filled_rnd_gaps.csv')

           ds  LSOA code  y
0  2010-12-01  E01000116  2
1  2010-12-01  E01000257  4
2  2010-12-01  E01000271  5
3  2010-12-01  E01000224  1
4  2010-12-01  E01000245  2